<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="distHome/styles.css" />
		<title>Page d'accueil</title>
	</head>
	<body>
		<div class="container">
			<nav>
				<img src="distHome/images/wanen_white.png" alt="" class="logo" />
				<ul>
					<li><a href="{{ path('security_registration') }}">Sign-in/sign-up</a></li>
				</ul>
				<img src="distHome/images/cart.png" alt="" class="cart" />
			</nav>

			<section class="site-container">
				<p>Bienvenu à</p>
				<h1>ANIMALLZ</h1>
				<h4>VET FOR A HEALTHY PET..</h4>

				<div class="row">
					<span>
						Notre site est dédié aux amoureux des animaux qui souhaitent prendre un rendez-vous avec un vétérinaire,<br />
                        adopter un nouvel ami à quatre pattes ou 
                        trouver une petsitter fiable pour prendre <br />soin de leur compagnon lorsqu'ils sont occupés.<br />
					</span>
				</div>
			</section>

            <section class="social-icons">
                <a href="https://github.com/RayenXIlej/Artifact/tree/master"><img src="distHome/images/github-fill.png" alt=""></a>
                <a href="https://www.instagram.com"><img src="distHome/images/instagram-fill.png" alt=""></a>
            </section>
		</div>
	</body>
</html>